/* INIZIO jquery-ui CUSTOM */


/* PULSANTI GRIGI */
/* Interaction states Grey
----------------------------------*/

.ui-widget{
	font-size: 10px;
	font-weight: normal;
}

.ui-widget-content p{
	padding: 5px 0;
}

.ui-state-grey-default, .ui-widget-content .ui-state-grey-default, .ui-widget-header .ui-state-grey-default {
	border: 1px solid #d3d3d3;
	background: #bdbdbd url(../png/ui-bg_highlight-hard_75_bdbdbd_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
.ui-state-grey-default a, .ui-state-grey-default a:link, .ui-state-grey-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-grey-hover, .ui-widget-content .ui-state-grey-hover, .ui-widget-header .ui-state-grey-hover, .ui-state-grey-focus, .ui-widget-content .ui-state-grey-focus, .ui-widget-header .ui-state-grey-focus {
	border: 1px solid #999999;
	background: #a4a4a4 url(../png/ui-bg_highlight-soft_75_a4a4a4_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #fff;
}
.ui-state-grey-hover a, .ui-state-grey-hover a:hover {
	color: #fff;
	text-decoration: none;
}
.ui-state-grey-active, .ui-widget-content .ui-state-grey-active, .ui-widget-header .ui-state-grey-active {
	border: 1px solid #aaaaaa;
	background: #fff url(../png/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-grey-active a, .ui-state-grey-active a:link, .ui-state-grey-active a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-widget :active {
	outline: none;
}
/* Interaction Cues Grey
----------------------------------*/
.ui-state-grey-highlight, .ui-widget-content .ui-state-grey-highlight, .ui-widget-header .ui-state-grey-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url(../png/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
	color: #363636;
}
.ui-state-grey-highlight a, .ui-widget-content .ui-state-grey-highlight a, .ui-widget-header .ui-state-grey-highlight a {
	color: #363636;
}
.ui-state-grey-error, .ui-widget-content .ui-state-grey-error, .ui-widget-header .ui-state-grey-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url(../png/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x;
	color: #cd0a0a;
}
.ui-state-grey-error a, .ui-widget-content .ui-state-grey-error a, .ui-widget-header .ui-state-grey-error a {
	color: #cd0a0a;
}
.ui-state-grey-error-text, .ui-widget-content .ui-state-grey-error-text, .ui-widget-header .ui-state-grey-error-text {
	color: #cd0a0a;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-grey-disabled, .ui-widget-content .ui-state-grey-disabled, .ui-widget-header .ui-state-grey-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
/*Messaggi UI-Theme Roller*/

.ui-state-error , .ui-state-info , .ui-state-confirm, .ui-state-ok  {
	padding: 10px 0 0;
	border:none;
	background: none !important;
}
.ui-state-error div , .ui-state-info div , .ui-state-confirm div, .ui-state-ok div  {
	padding: 5px 0 0;
}
.ui-state-error .ui-icon , .ui-state-info .ui-icon , .ui-state-confirm .ui-icon, .ui-state-ok .ui-icon{
	float: left;
	margin-right: 0.3em;
}
.ui-state-info{
	/*color: #f66005;*/
	color: #0073ac;
}
.ui-state-error{
    color: #cc0000;
}
.ui-state-confirm{
    color: #82BF2C;
}

.ui-state-ok{
    color: #0D7904;
}
.ui-state-error .ui-icon{
    background-image: url(../png/ui-icons_cd0a0a_256x240.png);
}
/*
.ui-state-info .ui-icon {
	background-image: url(../png/ui-icons_ffd27a_256x240.png);
}*/
.ui-state-info .ui-icon {
	background-image: url(../png/ui-icons_0073ac_256x240.png);
}
.ui-state-confirm .ui-icon {
	background-image: url(../png/ui-icons_82bf2c_256x240.png);
}

.ui-state-ok .ui-icon {
	background-image: url(../png/ui-icons_0d7904_256x240.png);
}


/* uppercase per pulsanti */
input.ui-button {
	text-transform:uppercase;
}
.ui-datepicker-trigger {
	cursor:pointer;
}
/* FINE jquery-ui CUSTOM PULSANTI GRIGI */


/* Ricerca */
.ricerca {
	float:left;
	width: 830px;
	position: relative;
}

.ricerca #ricercaavanzata{
	position: absolute;
	top: 0;
}

.ricerca .pulsante {
	margin-left: 5px;
}

.ricerca img {
	vertical-align:middle;
	margin-left: 3px;
}

/*Modal Box*/

#dialog-modal div.inner p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.ui-dialog-title{ /* TESTO TITOLO DIALOG GRIGIO */
color:#555555 !important;
font-weight:normal !important;
}



/* ICONA GRIGIA DIALOG  */
.ui-widget-heder .ui-icon{
background-image: url(../png/ui-icons_333333_256x240.png) !important; 
}
/* Interaction states ----------------------------------*/
.ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-header .ui-state-focus { 
border: 1px solid #333333; background: #adadad url(../png/ui-bg_glass_100_edf000_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
border: 1px solid #333333; background: #adadad url(../png/ui-bg_glass_65_edf000_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }




/* VARIE */
.abstract {
	text-align:justify !important;
	/*margin:10px 0;*/
}
/* modifica per FF */
@-moz-document url-prefix() {
  .abstract { margin:7px 0; }
  .abstract p {
    font-size: 10px;}
}
.evidenziato {
	font-weight:bold;
}
.messaggioConferma img {
	vertical-align:middle;
}
.messaggioConferma {
	margin:30px 0px 30px 0px;
}
/*COLORE SFONDO INTERNI*/

.comunicazioneAllegati li {
	margin:1px;
	padding:2px 15px 0px 10px;
	list-style-type:none;
	background:url(../png/freccia_grigia.png) no-repeat 0 0px;
	line-height:15px;
	font-size:9px;
}
.sfondoGrigio {
	margin: 10px 0px 10px 0px;
	background:url(../png/sfondoGrigio.png) no-repeat;
	background-position:bottom;
	padding:5px 5px 5px 10px;
	border:1px solid #eeeeee;
}
/* Paginazione */
#paginazione ul {
	margin:0px;
	padding:0px;
	list-style-type: none;
	text-align:left;
}
#paginazione li {
	margin:0px 10px 0px 0px;
	padding:0px;
	float:left;
}
#paginazione .sel {
	font-weight:bold;
}
/*.inputText{
	border:1px solid #E2E2E2;
	margin-bottom: 1px;
	background-color: #fff;
	color:#666;
	height:22px;
	vertical-align:middle;
	margin-right:4px;}
	
.selectText {
	border:1px solid #E2E2E2;
	margin-bottom: 1px;
	background-color: #fff;
	color:#666;
	padding:1px;
	width: auto;
	height:22px;
	vertical-align:middle;
}
	
*/



/***********************************************
TABELLE
************************************************/

table {
	margin: 20px 0;
	width:100%;
	font-size:11px;
	clear:both;
	border-collapse:collapse;
	color:#444;
	border:2px #fff solid;
}
table input {
	margin: 0;
	padding:0;
}
td, th {
	border-style:solid;
	border-color:#ddd;
	padding:1px 2px;
	border:1px #ddd solid;
}
th {
	text-align:center;
}
table a:link {
	text-decoration:none;
}
table img {
	padding:0px;
	margin:0px;
	vertical-align:middle;
	padding-right:3px;
}
table .arrowopen {
	background-image:url(../jpg/freccia_basso.jpg);
	background-repeat:no-repeat;
	padding-left:12px;
	background-position:left 3px;
}
table .arrowclose {
	background-image:url(../jpg/freccia_destra.jpg);
	background-repeat:no-repeat;
	padding-left:12px;
	background-position:left 3px;
}
table .nonletto {
	background-color:#F2F2F2;
}
table p {
	text-align:right;
	float:right
}
/* Gestione moduli */

.modulo {
}
.modulo legend {
	display: none;
}
.modulo p {
	clear: both;
	margin: 2px 0;
}
.modulo img {
	vertical-align: middle;
}
.modulo label {
	float: left;
	width: 170px;
	height: 20px;
}
.modulo ul {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 200px;
}
.modulo li {
	margin: 0px;
	padding: 0px 10px 0px 10px;
	list-style-type: none;
	background: url(../png/freccia_grigia.png) no-repeat 0 0px;
	line-height: 15px;
	font-size: 9px;
}
.modulo input [ type = 'text' ] {
	width: 300px;
	margin-bottom: 1px;
}
.modulo select {
	width: 309px;
	margin-bottom: 1px;
	padding: 0px;
}
.modulo textarea {
	width: 300px;
	border: 1px solid #E2E2E2;
	height: 190px;
	margin-bottom: 1px;
	background-color: #fff;
	color: 666666;
}
.modulo .radioButton {
	vertical-align: middle;
	background-color: #fff;
	width: 15px;
}

/* .modulo .checkBox {
	vertical-align: middle;
	background-color: #fff;
	width: 15px;
	border: none;
	margin: 0px;
}*/

.checkBox, .radiobutton {
	vertical-align: middle;
	background-color: #fff;
	width: 15px;
	border: none;
	margin: 0px;
	}
	
.modulo .cap {
	width: 110px;
}
.modulo .note {
	font-size: 9px;
	float: right;
}
.modulo .importante {
	font-style: italic;
}
.modulo .intro {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	background: none;
	border: none;
	float: left;
}
.modulo .intro span {
	font-weight: bold;
}
.modulo .paginazione {
	clear: both;
	margin: 0px;
	padding: 0px;
	font-size: 9px;
}
.tipologia_documento {
	width: 250px !important;
	margin: 7px 170px !important;
	float: none !important;
}
/**/

.pulsanti_right {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0;
	text-align: right;
}
.w50 {
	width: 50px !important;
}
.w75 {
	width: 75px !important;
}
.w100 {
	width: 100px !important;
}
.w125 {
	width: 125px !important;
}
.w150 {
	width: 150px !important;
}
.w165 {
	width: 165px !important;
}
.w200 {
	width: 200px !important;
}
.w210 {
	width: 210px !important;
}
.w275 {
	width: 275px !important;
}
.w350 {
	width: 350px !important;
}
.w375 {
	width: 375px !important;
}
.w440 {
	width: 440px !important;
}

/*da rimodificare a 480 FRA*/
.w480 {
	width: 440px !important;
}
.w500 {
	width: 500px !important;
}
.spaziatura_bottom5 {
	margin-bottom: 5px;
}
.spaziatura_bottom10 {
	margin-bottom: 10px;
}
.spaziatura_bottom15 {
	margin-bottom: 15px;
}
.spaziatura_top5 {
	margin-top: 5px;
}
.spaziatura_top10 {
	margin-top: 10px;
}
.spaziatura_top15 {
	margin-top: 15px;
}
.spaziatura_right10{
	margin-right:10px;
}

.spaziatura_left10{
	margin-left:10px;
}

.spaziatura_5 {
	margin: 5px 0;
}
.spaziatura_10 {
	margin: 10px 0;
}
.spaziatura_15 {
	margin: 15px 0;
}
.loading {
	position:absolute;
	top: 50%;
	left: 50%;
}
